{% extends 'inbox_app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}


<!-- Sidebar/Offcanvas content -->
{% block sidebar_content %}
<a href="{% url 'home-path' %}" class="btn btn-sm btn-outline-secondary">Home</a>
{% endblock sidebar_content %}


<!-- Page content -->
{% block content %}
<div class="container mt-5 " style="background-color " id="card-login">
        
            <div class="card p-3 login-border" style="">
            <span class="text-center mt-3 text-pulse"><strong>RESTRICTED ACCESS</strong></span>

                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="input-group mb-2 mt-4">
                        <input type="text"class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="input-group mb-2">
                        <input type="password"class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" onclick="showPassword()" style="float:right;">
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <input class="btn btn-success btn-sm mt-4 mb-3" type="submit" id="btn-enter" value="Enter">
    
                    </div>
                </form>
                <center class="mt-5 mb-5">
                    <img class="" style="height: 150px; filter: invert(80%)" src="{% static 'inbox_app/img/logo-only-black.png' %}" alt=""/>
                </center>
            </div>
    
</div> <!-- end container -->

{% endblock content %}